// nav
.navbar {
    border-bottom: 1px solid rgba( 0,0,0,.1 ); 
    background: white; 
    display: flex;
    justify-content: space-around;
    padding: 8px 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    flex-direction: row;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;

    h1 {
        font-size: 1.25rem; 
        margin: 0 auto; 
        flex: 1;
        display: flex;
        justify-content: center;
        font-weight: 700;

        @media (min-width: 992px) {
            font-size: 1.5rem;
        }
    }

    .logo {
        flex: 1;
    }

    .collapse {
        flex: 1;
        justify-content: flex-end;

        ul a {

            &:hover {
                text-decoration: underline;
            }
        }

        &.show {
            display: flex;
            justify-content: flex-end;
        }
    }

    .collapse-btn-container {

        @media (max-width: 991px) {
            flex: 1;
            justify-content: flex-end;
            display: flex;
        }
    }    
}