<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="capturetext">Simply Enter your <span class="emphasize">Name</span> and <span class="emphasize">Email</span> to see how I made enough money to <span class="emphasize">Quit My Job for Good!</span></p>
        </div>
        <div class="col-sm-12 form">
            <form class="captureform" action="/" method="POST" name="sendmessage">
                <div class="form-group row">
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" class="form-control" minlength="2" id="name" name="name" value="" placeholder="name" required>
                </div>

                <div class="form-group row">
                    <label for="name" class="sr-only">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="" placeholder="email" required>
                </div>

                <button type="submit" class="btn btn-default" value="send" id="send-mail" role="button">Get Access Now</button>

                <div class="clearfloat"></div>
            </form>
        </div>
    </div>
</div>
<video autoplay loop id="video-background" plays-inline>
  <source src="videos/fpvideo.mov" type="video/mp4">
</video>
