<div class="container">
    <div class="row">
        <div class="col-sm-12 introduction">
            <h1 class="text-center">Watch this introduction video to get the basics about mca.</h1>
            <p class="text-center">After watching <span>click the link</span> below the video to get started with the process.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/m4vtRrNgx0k" frameborder="0" allowfullscreen></iframe>
            <h3 class="text-center"><a href="https://tvcm.co/!JBD3C" target="_blank">Join MCA</a></h3>
        </div>
    </div>
</div>