<div class="container">
    <div class="row">
        <div class="col-sm-12 intro">
            <h1 class="text-center">WELCOME TO THE OFFICIAL WEBSITE OF RELLS FARGO!</h1>
            <p>THIS IS MY STORY OF HOW I WAS ABLE TO BEAT THE STRUGGLE OF SLAVING 50+ HRS A WEEK TO NOW MAKING $4,000+ A MONTH FROM MY SMARTPHONE!</p>
            <p>
                The only cure for the struggle is to hustle. Hustle like you never hustled before. There is no way you can live out your dreams working for someone else at a 9 to 5. Every entrepreneur had to make a sacrifice. They had to make an investment and take a risk to get where they are. My question for you today is, do you want to live someone else's story or create your own? Do you want to be normal, or unordained? 

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 video-intro">
            <p>I'M GOING TO TEACH YOU HOW MOTOR CLUB OF AMERICA (MCA) CAN CHANGE YOUR LIFE LIKE IT DID MINE!</p>
            <img src="../images/mca_press_play.png">
        </div>
    </div>
    <div class="row video-section">
        <div class="col-sm-6 video">
            <p class="text-center">video</p>
        </div>
        <div class="col-sm-6 video">
            <p class="text-center">video</p>
        </div>
        <div class="col-sm-12">
            <p>​REAL TESTIMONIALS FROM REAL PEOPLE!</p>
        </div>
        <div class="col-sm-6 video">
            <p class="text-center">video</p>
        </div>
        <div class="col-sm-6 video">
            <p class="text-center">video</p>
        </div>
         <div class="col-sm-12">
            <p>
                THANKS TO MCA I CAN WORK FROM ANYWHERE AROUND THE WORLD AS LONG AS I HAVE MY SMARTPHONE! I ALSO GET TO SPEND MORE TIME WITH MY FAMILY AND NEVER MISS MY DAUGHTER GROW!
            </p>
        </div>
    </div>
    <div class="row picture-section">
        <div class="col-sm-4">
            <img src="images/rell-1.jpg" alt="Rells Fargo MCA">
        </div>
        <div class="col-sm-4">
            <img src="images/rell-2.jpg" alt="Rells Fargo MCA Travel">
        </div>
        <div class="col-sm-4">
            <img src="images/rell-3.jpg" alt="Rells Fargo MCA Fun">
        </div>
    </div>
    <div class="row mca">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h5>MEMBERSHIP BENEFITS</h5>
                <p>
                    Emergency Road Service - Battery Boost, Fuel Delivery, Tire Change, Lock-out Service, Unlimited Towing Service 24/7.
                </p>
            </div>
            <div class="col-sm-12">
                <p>
                    Free Discount Card for Prescriptions, Vision Care, and Dental - Our discount card is an easy way to help you and your family receive discounts on all of your prescriptions, vision, and dental needs. You receive a unique membership card allowing you to receive up to a 65% discount on prescriptions, up to a 50% discount on vision, and up to a 50% discount on dental procedures.
                </p>
                <ul>
                    ​The cost of the membership is $39.90 one-time then $19.95 a month to keep your membership active.
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h5>HOW TO GET PAID</h5>
                <p>
                    You can sign up to become an associate and receive $80 for each membership referral. There are no limits to how much money you can earn on a weekly basis. We give you a referral link to give to other people. When they join through your website link we pay you $80. Motor Club of America sends out payments every Friday via direct deposit.
                </p>
            </div>
            <div class="col-sm-12">
                <h6 class="last-section">
                    Weekly Earning Potential
                </h6>
                <ul>
                    <li>​1 Membership Sold = $80.00</li>
                    <li>5 Memberships Sold = $400.00</li>
                    <li>10 Memberships Sold = $800.00</li>
                    <li>20 Memberships Sold = $1600.00</li>
                    <li>30 Memberships Sold = $2400.00</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row training">
        <div class="col-sm-12">
            <h2 class="text-center">TRAINING!</h2>
        </div>
        <div class="col-sm-12">
            <p>We spent countless hours creating training and developing a website just for you. Your job is to simply share the site with as many people possible.</p>
            <ul>
                <li>Free Marketing Website</li>
                <li>Training Tips and Advice</li>
                <li>Step by Step Instructional Videos</li>
            </ul>
        </div>
    </div>
    <div class="row get-started">
        <div class="col-sm-12">
            <a href="https://motorclubcompany.com/career/" target="_blank"><img src="../images/get_started.png"></a>
        </div>
        <div class="col-sm-12">
            <p>Make the $39.90 payment with a Debit Card or Credit Card (if you have a debit card use the credit card option). <span>NO PREPAID CARDS. Once done text "I joined MCA" to 317-922-3211</span></p>
        </div>
    </div>
</div>