@media (max-width: 1024px) {
    body {
        background: url( ../images/rell_bg-image.jpg ) no-repeat center center;
        background-size: cover; 
        min-height: 100vh;
    }
}

@media (max-width: 1024px) {
    body .container-fluid {
        height: 100vh;
    }
}
@media (max-width: 1024px) {
    body .container-fluid .row {
        height: 100%;
    }
}

/* Form */
.form {
    display: block; 
}

.captureform {
    margin: 0 auto; 
    padding: 20px 50px 20px 50px;
    text-align: center;
    width: 80%; 
    background-color: rgba(41,4,36,0.75);
    border-radius: 50% / 10%;
    box-sizing: border-box; 
}

@media (min-width: 768px) and (max-width: 1023px) {
    .captureform {
        width: 60%; 
    }
}

@media (min-width: 1024px) {
    .captureform {
        width: 40%; 
    }
}

.form-group, .btn {
    margin-top: 2em;
}

.form-control, .btn {
    border-radius: 10px;
    padding: 1.5% 10% 1.5% 10%; 
    font-size: 1rem; 
}

.headline {
    color: aqua;
    text-align: center;
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 1em;
    font-weight: 700;
}

@media (min-width: 830px) {

    .headline {
        font-size: 1.8rem;
    }
}

.btn {
    background-color: rgba(41,4,36,0.75);
    color: white; 
    cursor: pointer; 
    font-size: 1.4rem;
    -webkit-box-shadow: -1px 7px 30px -6px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 7px 30px -6px rgba(0,0,0,0.6);
    box-shadow: -1px 7px 30px -6px rgba(0,0,0,0.6);
}

.capturetext {
    padding-top: 12.5%;
    font-size: 1.65rem;
    color: white; 
}

.emphasize {
    font-weight: bold;
    color: aqua; 
}

/* error */
#name-error, #email-error {
    color: red; 
    display: block; 
    margin: 0 auto; 
}

.error {
    color: red; 
}

#video-background {
  display: none;
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

@media (min-width: 768px) {

    #video-background {
        display: block;
    }
}