<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
    
    <div class="logo">
        <img src="images/mca_logo.png" class="img-fluid" alt="mca logo">
    </div>

    <h1>Rells Fargo Money Team</h1>

    <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./mca">Intro Video</a></li>
            <li class="nav-item">
                <a class="nav-link" href="./learnmore">Learn About MCA</a></li>
        </ul>
    </div>

    <div class="collapse-btn-container">
        <button type="button" class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>

</nav>