<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-toggleable-md navbar-light fixed-top nav-pages">
                <div>
                    <button type="button" class="btn navbar-toggler pull-left" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
                </div>
                <div class="nav-group collapse navbar-collapse" id="navbarToggle">
                    <img class="logo mt-auto mb-auto" src="images/mca_logo.png">
                    <h1 class="main mt-auto mb-auto">Rells Fargo Money Team</h1>
                </div>
            </nav>
        </div>
    </div>
</div>