<!doctype html>
<html lang="en">
<head>
    <% include partials/template/head.ejs %>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    
<% include partials/content/form.ejs %>

<% include partials/template/scripts.ejs %>
<script src="./js/jquery.validate.js"></script>
<script src="./js/script.js"></script>

</body>
</html>