<!doctype html>
<html lang="en">
<head>
    <% include partials/template/head.ejs %>
    <link href="css/introduction.css" rel="stylesheet">
</head>
<body>
    <% include partials/template/nav.ejs %>
    <% include partials/content/videocontent.ejs %>

    <% include partials/template/scripts.ejs %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>