<!doctype html>
<html lang="en">
<head>
    <% include partials/template/head.ejs %>
    <link href="css/video.css" rel="stylesheet">
</head>
<body>
    <% include partials/template/nav.ejs %>
    <% include partials/content/videocontent.ejs %>
</body>
</html>